.profile-section {
    width: 1200px;
    margin: 50px auto;
    clear: both;

	&:after,
	&:before {
		content: '';
		display: table;
		clear: both;
	}

	&__left-side {
		width: 370px;
		float: left;
		position: sticky;
		top: 50px;
		background: #ddd;
	}

	&__right-side {
		width: 760px;
		float: right;
		padding: 0 20px;
	}

	@media screen and (max-width: 800px) {
		width: 100%;
		text-align: center;

		&__left-side {
			width: 100%;
			float: none;
			position: static;
			top: auto;
		}

		&__right-side {
			width: 100%;
			float: none;
		}
	}
}

.user-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

	&__profile-picture {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border: 1px solid #e3e3e3;
		overflow: hidden;
		margin: 0 auto 20px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
	&__name {
		font-size: 24px;
		margin: 0;
	}
	
	&__username {
		font-size: 18px;
		color: #777;
		margin: 10px 0;
	}
	
	&__tagline,
	&__description {
		color: #555;
		margin: 10px 0;
	}

	&__buttons{
		display: flex;
		justify-content: space-around;
	}

	&__logoff-button {
		display: inline-block;
		padding: 10px 20px;
		background-color: #688afd;
		color: #fff;
		text-decoration: none;
		border-radius: 5px;
		transition: background-color 0.3s;
		border: none;
		cursor: pointer;

		&:hover {
			background-color: #4570fb;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
		}
	}

	&__delete-button {
		display: inline-block;
		padding: 10px 20px;
		background-color: #fd4a4a;
		color: #fff;
		text-decoration: none;
		border-radius: 5px;
		transition: background-color 0.3s;
		border: none;
		cursor: pointer;

		&:hover {
			background-color: #fa1616;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
		}
	}
}
