/**
 * Footer
 */
.footer {
	position: relative;
	width: 100%;
	background: #202020;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 10px;

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;

		a {
			color: #fff;
		}

		img {
			display: block;
			height: calc(70px - 30px);
		}
	}

	&__menu {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px 0;
		flex-wrap: wrap;

		&-item {
			list-style: none;
		}

		&-link {
			font-size: 1.2rem;
			color: #fff;
			margin: 0 10px;
			display: inline-block;
			transition: 0.5s;
			text-decoration: none;
			font-weight: 300;

			&:hover {
				opacity: 1;
			}
		}
	}

	p {
		color: #fff;
		margin: 15px 0 10px 0;
		font-size: 1rem;
		font-weight: 300;
	}
}
